html{
    font-family: 'Baloo 2', cursive;
    scroll-behavior: smooth;
}
body, h1{
    margin: 0;
}

p,h3,h4{
    font-size: 110%;
}

h1{
    color: white;
}

h3{
    font-size: 35px;
    margin: 20px 0 0 0;
}

#header{
    background-color: firebrick;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

#container{
    width: 60%;
    margin: auto;
}

a{
    color: white;
    font-size: 25px;
    text-decoration: none;
    padding: 10px;
}

a:hover{
    text-decoration: underline;    
}

.question{
    display: flex;
    flex-direction: column;
}

#images{
    display: flex;
}

img{
    height: 300px;
}

.code{
    padding: 10px;
    color: firebrick;
    font-weight: bold;
    border: solid 1.5px firebrick;
    border-radius: 2.5px;
}

#footer{
    background-color: firebrick;
    color: white;
    padding: 15px;
    text-align: center;
    margin-top: 50px;
}

input[type=button]{
    border: solid 2px firebrick;
    padding: 5px 10px;
    background-color: #fff;
    font-weight: bold;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 15px;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
}

input[type=button]:hover{
    color: white;
    background-color: firebrick;
    
}

.correct{
    background-color: green;
    color: white;
}

.false{
    background-color: red;
    color: white;
}

#back{
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50px;
    font-size: 30px
}
#back a{
    color: #220901;
}
.fa.fa-arrow-circle-up{
    font-size: 35px;
}